<app-nav-bar class="mb-3"></app-nav-bar>
<main class="container-fluid pt-3 pb-5">
  <div class="row titleRow ms-2 mb-3 text-left">
    <div class="col col-12 ms-1">
      <h3>Treatment list</h3> <!-- Adăugarea clasei "title" aici -->
      <a routerLink="/treatment/add" class="ms-2" ngbTooltip="Add new treatment">
        <a routerLink="/treatment/add">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-patch-plus" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5"/>
            <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
          </svg>
        </a>
      </a>
    </div>

  </div>




  <div class="row me-3 ms-3">

    <div id="treatment{{treatment.treatmentID}}" *ngFor="let treatment of treatments" class="col mb-3">
      <div class="card h-100">
        <img [src]="treatment.pictureUrl"  (error)="handleImageError($event)" class="card-img-top" alt="Treatment image">

        <div class="card-body">
          <h6 class="card-title">{{ treatment.name }}</h6>
          <p class="card-text text-muted">{{ treatment.description }}</p>
          <p class="card-text"><strong>Estimated duration:</strong> {{ treatment.estimatedDuration }}</p>
          <p class="card-text"><strong>Price:</strong> {{ treatment.price }}</p>

                    <div *ngIf="selectedEmployeeTreatments[treatment.treatmentID]?.length > 0; else noEmployeeTreatments">
            <strong class="mb-1" style="color: #0c5460">Employee:</strong>
            <div id="emplyee{{employee.personId}}" *ngFor="let employee of selectedEmployeeTreatments[treatment.treatmentID]" class="ms-2">
              <span style="color: #0c5460"> • </span> {{ employee.firstName }} {{ employee.lastName }}
            </div>
          </div>
          <ng-template #noEmployeeTreatments>
<!--            <div>No employee treatments available.</div>-->
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
          </ng-template>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <a routerLink="/treatment/detail/update/{{ treatment.treatmentID }}" class="me-2">
            <button type="button" class="btn btn-outline-success btn-sm" ngbTooltip="UPDATE">Edit</button>
          </a>

<!--          <button *ngIf="selectedEmployeeTreatments[treatment.treatmentID]?.length <= 0" (click)="onSelect(treatment)" type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"  ngbTooltip="ID: {{treatment.treatmentID}}">Delete</button>-->
          <button (click)="onSelect(treatment)" type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"  ngbTooltip="ID: {{treatment.treatmentID}}">Delete</button>

        </div>
      </div>
    </div>
  </div>
</main>

<!-- Modal delete-->
<div *ngIf="selectedTreatment != undefined" class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       You are about to delete the treatment:
        <p>
          <span class="text-danger">{{selectedTreatment.name}}</span> with <strong>estimated duration</strong> {{selectedTreatment.estimatedDuration}} and <strong>price</strong> {{selectedTreatment.price}}
        </p>
        <p class="text-muted">
          Affected employees IDs: {{selectedTreatment.employeeIds}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-outline-danger me-2" type="button" data-bs-dismiss="modal" (click)="onConfirm()">
          Delete treatment
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal error -->
<div #errorModal class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="errorModalLabel">Something went wrong. Please try again later.</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        We could not delete the treatment:
        <p>
          <span class="text-danger">{{selectedTreatment.name}}</span> with <strong>estimated duration</strong> {{selectedTreatment.estimatedDuration}} and <strong>price</strong> {{selectedTreatment.price}}
        </p>
      </div>
      <div class="modal-body">
        <p class="text-muted"> <span style="color: #da3544">Contact the administrator for more information.</span></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Close</button>
      </div>
    </div>
  </div>
</div>

