/* src/app/login/login.component.css */
.container {
  margin-top: 100px;
}

.card {
  border: 2px;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(248, 9, 9, 0.384);
  background-color: rgba(104, 192, 138, 0.274);
}

.card-body {
  padding: 2rem;
}

.btn-outline-primary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-primary i {
  margin-right: 0.5rem;
}

.text-center a {
  color: #6c757d;
  text-decoration: none;
}

.text-center a:hover {
  text-decoration: underline;
}
