<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">MakeUp Salon</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="#commercial-photo"
          >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/treatments">Treatments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#Contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/book">Book now</a>
        </li>
      </ul>
      <div *ngIf="!isAuthenticated">
        <a class="dropdown-item bi bi-person-add text-start" routerLink="/enrollment"> Create account</a>
      </div>
      <div *ngIf="isAuthenticated" class="dropdown-center ms-auto">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          href="#"
          role="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-person-circle me-2"></i>
          <span>My account</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownMenuButton">
          <li>
            <a
              class="dropdown-item text-start bi bi-journal-check"
              routerLink="/my-appointments"
            > My appointments</a
            >
          </li>
          <li>
            <a class="dropdown-item text-start bi bi-clipboard-heart" routerLink="/treatments"> Treatments</a>
          </li>
          <section *ngIf="isEmployee">
            <li>
              <a class="dropdown-item text-start bi bi-patch-plus" routerLink="/treatment/add"> Add treatment</a>
            </li>
          </section>
          <hr/>
          <li>
            <a class="dropdown-item text-start bi bi-shield-lock" routerLink="/change-password"> Change Password</a>
          </li>
        </ul>
      </div>
      <div class="mt-3 mt-md-0 ms-md-3">
        <a *ngIf="!isAuthenticated" id="signin" routerLink="/auth" class="btn btn-outline-info small-button">Login</a>
        <a *ngIf="isAuthenticated" id="logout" (click)="onLogout()" routerLink="/auth" class="btn btn-outline-danger small-button">Logout</a>
      </div>
    </div>
  </div>
</nav>
