<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">MakeUp Salon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#commercial-photo">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#team">Team</a>
      </li><li class="nav-item">
        <a class="nav-link" href="/scheduler">Scheduler</a>
      </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Hair Styling</a></li>
            <li><a class="dropdown-item" href="#">Nail Art</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Facials</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Book Now</a>
        </li>
      </ul>


      <div>
        <a routerLink="/treatments" class="btn btn-outline-primary">Treatments</a>
      </div>


      <div>
        <a *ngIf="!isAuthenticated" routerLink="/auth" class="btn btn-outline-info">Sign in</a>
        <a *ngIf="isAuthenticated" routerLink="/auth" class="btn btn-outline-danger">Logout</a>
      </div>
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
    </div>
  </div>
</nav>
