<section class="vh-100 bg-image" style="background-image: url('./assets/img/Enrollment/Enrollment_Wallpaper.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h2 class="text-uppercase text-center mb-4">Sign in</h2>

              <div *ngIf="error" class="alert alert-danger">
                <p>{{ error }}</p>
              </div>

              <div *ngIf="isLoading" class="text-center">
                <app-loading-spinner></app-loading-spinner>
              </div>

              <form *ngIf="!isLoading" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-outline mb-3">
                  <label class="form-label" for="email">Email</label>
                  <input type="email" id="email" formControlName="email" placeholder="john.doe@email.com" autocomplete="new-email" class="form-control form-control-lg" />
                </div>

                <div class="form-outline">
                  <label class="form-label" for="password">Password</label>
                  <input type="password" id="password" formControlName="password" placeholder="Password1!" autocomplete="new-password" class="form-control form-control-lg" />
                </div>
                <p class="text-left text-muted small mt-2 mb-3 mb-0"> <a style="text-decoration: none; color: #0c5460" routerLink="/reset-password" > Forgot password?</a></p>


                <div class="d-flex justify-content-center">
                  <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Log in</button>
                </div>
                <p class="text-center text-muted mt-4 mb-0">Do not have an account? <a routerLink="/enrollment" class="fw-bold text-body"><u>Sign up here</u></a></p>
                <p class="text-center text-muted small mt-1 mb-0"><a routerLink="/" class="fw-bold text-body">Home</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
