<div class="text-center">

  <div class="container-fluid title">
    <h3 class="d-flex justify-content-center">
      <i>Are you sure ?</i>
    </h3>
  </div>


  <div class="badge bg-danger mt-3">Really delete the treatment with id: <b>{{ treatment.treatmentID }} ?</b></div>

  <div class="mt-2">
    <button class="btn btn-outline-danger me-2" type="button" (click)="onConfirm()">
      Delete treatment
    </button>

    <button class="btn btn-outline-secondary" type="button" (click)="onCancel()">Cancel</button>
  </div>
</div>
