.rounded-start-2 {
  background-color: #56446d;

  background-image: linear-gradient(to left, #f2e5bd, #f2b56b, #f2a285);

  //background-image: linear-gradient(43deg, #56446d 0%, #465a67 13%, #25845b 26%, #449f69 33%, #ce93d8 78%, #603771 100%);
}

//Plant common name border.
.border {
  --bs-border-color: #f2b56b;
}

//Improve space between paragraphs.
p {
  margin: auto;
}

.container-fluid {
  background: linear-gradient(to top, #F2E4F2, #F2E4F2, #F2E4F2, rgba(242, 162, 155, 0.89));
  padding-bottom: 2rem; /* Adăugăm un padding la partea de jos a containerului */
}

.btn.btn-outline-primary {
  color: #f2a285;
  background: #f2e5bd;
  border-color: #f2b56b;
}

.btn-outline-primary:hover {
  background: #f2b56b;
  color: #f2e5bd;
  border-color: #f2e5bd;
}


.card {
  border-radius: 15px;
}

.card-body {
  padding: 2rem;
}

.form-control {
  font-size: 0.875rem;
  padding: 0.5rem;
}

.btn {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

main {
  background-size: cover;
  min-height: 100vh;  /* Asigură că main ocupă întreaga înălțime a viewport-ului */
  display: flex;      /* Folosim flex pentru a centra conținutul pe verticală */
  flex-direction: column; /* Colocăm elementele unul sub altul */
}

.bg-image {
  background: linear-gradient(to top, #F2E4F2, #F2E4F2, #F2E4F2, rgba(242, 162, 155, 0.89));
}

.badge {
  position: absolute;
  top: 7%;
  left: calc(100% + 8px);
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  padding: 0.2em 0.5em;
}

.custom-accordion{
  .accordion-button::after {
    background-image: none;
  }
  .accordion-button {
    pointer-events: none;
  }

}
