.catchy-text {
  -webkit-background-clip: text;
  background-clip: text;
  color: #333333;
  font-size: max(14pt);
  font-style: italic;
}

.btn-primary {
  background: #3F858C;
  color: #F2E5BD;
  border-color: #F2E5BD;
  max-width: 50%;
}

.btn-outline-primary {
  background: #F2E5BD;
  color: #3F858C;
  border-color: #3F858C;
  max-width: 50%;
}


.btn-outline-info {
  color: #F2A285;
  border-color: #F2A285;
  max-width: 50%;
}


.btn-outline-light {
  color: #30505F;
  border-color: #30505F;
  max-width: 50%;
}


.btn.btn-primary:hover{
  color: #3F858C;
  background: #F2E5BD;
  border-color: #3F858C;
}


.btn.btn-outline-primary:hover{
  color: #F2E5BD;
  background: #3F858C;
  border-color: #F2E5BD;
}


.btn-outline-info:hover{
  color: #F2E5BD;
  background: #F2A285;
  border-color: #F2E5BD;
}

.btn-outline-light:hover{
  color: #F2E5BD;
  background: #30505F;
  border-color: #F2E5BD;
}

.btn-secondary:hover{
  background: #F2E5BD;
  color: #333333;
  border-color: #333333;
}

#firstCarousel{
  background: linear-gradient(to right, #F2E5BD, #F2E5BD, #F2E5BD,  #F2B56B);
}

#secondCarousel{
  background: linear-gradient(to right, #eadbcc, #eadbcc, #eadbcc, #bf7e78);
}

#thirdCarousel{
  background: linear-gradient(to right,  #F2E4F2, #F2E4F2, #F2E4F2, rgba(242, 162, 155, 0.89));
}

#firstCarouselSecondRow {
  margin-top: 10vh;
}


#secondCarouselSecondRow {
  margin-top: 10vh;
}

.carousel-caption{
  color: #333333;
}


.carousel-item .row {
  display: flex;
  flex-wrap: wrap;
}


.firstCarouselImg {
  max-height: 1vh;
}

#secondCarousellImg {
  max-height: 1vh;
}

#thirdCarouselImg {
  max-height: 1vh;
}


#firstCarouselText {
  max-width: 80%;
}

.blue-text{
  color: #30505F;
}

.CarouselImg {
  max-height: 1vh;
}

@media (max-width: 758px) {
  .carousel-item img {
    opacity: 0.07;
  }

  .btn-responsive {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
  }

  .btn-outline-light{
    padding-bottom: 1vh;
  }

  .text-responsive {
    font-size: 4vh;
  }

  .catchy-text {
    font-style: normal;
    font-size: 3vh;
  }

}



